.botao-menu {
    display: none; /* Escondido por padrão no PC */
}
@media (max-width: 1024px) {
    .cabecalho {
        padding: 0 4%;
    }

    .home-conteudo {
        flex-direction: column-reverse;
        gap: 40px;
        text-align: center;
    }

    .informacoes {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes p {
        text-align: center;
    }

    .container-foto {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .botao-menu {
        display: flex;
        padding: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburguer {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--cor-texto-claro);
        position: relative;
        transition: background 0.3s-ease;
    }

    .hamburguer::before, .hamburguer::after {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--cor-texto-claro);
        position: absolute;
        transition: 0.3s ease;
    }
    .hamburguer::before { top: -8px; }
    .hamburguer::after { bottom: -8px; }

    .menu {
        display: block;
        position: fixed;
        top: 80px;
        right: -100%;
        width: 60%;
        height: calc(100vh - 80px);
        background-color: rgba(18, 18, 20, 0.98);
        backdrop-filter: blur(10px);
        transition: 0.4s ease;
        border-left: 1px solid #29292E;
    }

    .menu.ativo {
        right: 0;
    }

    .menu ul {
        flex-direction: column;
        padding: 40px;
        gap: 30px;
    }

    .menu a {
        font-size: 1.4rem;
    }

    .botao-menu.ativo .hamburguer {
        background-color: transparent;
    }
    .botao-menu.ativo .hamburguer::before {
        transform: rotate(45deg);
        top: 0;
    }
    .botao-menu.ativo .hamburguer::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .cabecalho .titulo {
        display: none; 
    }

    .home {
        padding: 60px 5% 30px 5%;
    }

    .informacoes h1 {
        font-size: 2rem;
    }

    .angulo-foto {
        max-width: 280px;
    }

    .titulo-marvel, .titulo-dc, .titulo-recomendacoes {
        font-size: 1.8rem;
        margin: 50px 0 20px 0;
        padding-top: 20px;
    }

    .container-cards {
        padding: 0 4% 60px 4%;
        gap: 20px;
    }
}